<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration Form</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_reg_style.css' %}">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2>Login</h2>
      <form id="login-form" action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
          <a href="{% url 'password_reset' %}">Forget Password?</a>
          <a href="{% url 'register' %}">Register</a>
      </form>
    </div>

  </div>
</body>
</html>
