<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration Form</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_reg_style.css' %}">
</head>
<body>
  <div class="container">


    <div class="form-container">
      <h2>Register</h2>
      <form id="register-form" method="post">
          {% csrf_token %}
        <input type="password" placeholder="Password" name="new_password1" required>
        <input type="password" placeholder="Confirm Password" name="new_password2" required>
        <button type="submit">Reset</button>
         <ul>
             <li>At least 1 digit.</li>
             <li>At least 1 uppercase character.</li>
             <li>At least 1 lowercase character.</li>
             <li>At least 1 special character.</li>
         </ul>



      </form>
    </div>
  </div>
</body>
</html>
