<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration Form</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_reg_style.css' %}">
</head>
<body>
  <div class="container">


    <div class="form-container">
      <h2>Register</h2>
      <form id="register-form" action="{% url 'register' %}" method="post">
          {% csrf_token %}
        <input type="text" placeholder="Username" name="username" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
        <button type="submit">Register</button>
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </form>
    </div>
  </div>
</body>
</html>
